$primary-color: tomato;
$secondary-color: white;
$highlight-color: #ffeeee;


/* Alternate themes */

/*
$primary-color: green;
$secondary-color: white;
$highlight-color: #eeffee;
*/

/*
$primary-color: deepskyblue;
$secondary-color: white;
$highlight-color: #eeeeff;
*/
