@import "../variables";

.view-transactions {

  table {
    width: 900px;
    margin: 0 auto;
    border-spacing: 10px 0;

    th, td {
      padding: 5px;
    }

    th {
      border-bottom: 1px solid $primary-color;
    }

    td, td button {
      font-size: 12px;
    }

    td.numeric {
      text-align: right;
    }

    tr.odd {
      background-color: $highlight-color;
    }


  }

  .loading {
    margin-left: 20px;
  }


}

@media all and (max-width: 920px) {
  .view-transactions {

    table {
      width: 100%;
      padding: 0 10px;
    }

  }
}
