.field-container {

  margin-top: 20px;
  margin-bottom: 28px;

  .field-label {
    float:left;
    width:29%;
    font-size:14px;
    font-weight:normal;
    padding-top: 5px;

    span {
      float:right;
      padding-right:8px;
    }

  }

  .field-wrapper {
    float:left;
    width:69%;

    .field-input
    {
      border: none;
      border-radius: 5px;
      color:#667777;
      font-weight: 100;
      font-size:16px !important;
      padding:4px;
      margin:0px;
      font-family:Verdana, Arial, Helvetica, sans-serif;
      background-color: #eeeeee;
      width:87%;
    }

  }

  .field-error-details {
    position: absolute;
    font-size: 12px;
  }

  .clear {
    clear: both !important;
  }

}


.field-container.has-error {

  .field-input {
    background-color: #ffcccc;
  }

}

.field-container.for-controls  {
  margin-bottom: 20px;
}
